
.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}
.video-item.item img {
    max-width: 180px;
}
.embed {
    width:100%;
    height: 40%;
}
/* .video-details {
    width: 65%;
    height: auto;
    float: left;
}
.video-list {
    width: 30%;
    height: auto;
    float: right;
    margin-top: 0 !important;
} */